#wrapper{
    width:100%;
    margin:0 auto;
    padding:0;
}

#Wines1{

    top:20px;
    left:300px;
    background-position:left;
  
}

#bar {
    height: 20px;
    width: 100%;
    top: 100px;
    color: black;
}

header{
   height:300px;
   width:100%;
   padding: 10px;
   background-color:white;
   color:white;
}
#Heading {
    color: #fff;
    text-shadow: 0px -1px 15px black, 0px -2px 10px yellow, 0px -10px 20px #ff8000, 0px -18px 40px red;
    font: 130px 'BlackJackRegular';
    font-size: 125px;
    position: absolute;
    top: 150px;
    left: 700px
}

.right{
    float:right;
    margin:5px;
}
nav {
    background-color: gold;
    padding: 30px;
    position: relative;
    text-shadow: 0px -1px 15px black;
    font:arial;
    font-size: 40pt;
    font-weight:bold;
    top:80px;
    width:100%;
}
    nav ul {
        list-style-type: none;
        padding-right: 40px;
    }
nav ul li{
    display:inline;
    margin-left:10px;
    
}

nav ul li a:link{
    color:darkslategray;
    text-decoration:none;
}



/*second level navigation*/
    nav li ul {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 5;
        opacity:.8;
    }
nav li:hover ul{
    display:block;

}

nav li:hover{
    background-color:goldenrod;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */




    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {
            background-color: #ddd;
        }



/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

main {
    
    
    width: 100%;
    height: auto;
    padding: 10px;
}
#Champ {
    height: 100%;
    width: 60%;
    position:fixed;
    border: 40px;
    border-color: black;

}



footer{
    text-align:center;
    height: 100px;
    
}
#Som2 {
    right: 200px;
    position: absolute;
    color: Black;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    top: 500px;
    
}

#Som3 {
    right: 200px;
    position: absolute;
    color: Black;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    top: 1000px;
    
}

#myCarousel {
    right: 600px;
    position: absolute;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    top: 600px;
}

#Container1 {
    right: 1200px;
    left: 48px;
    position:absolute;
    background-color: white;
    color: Black;
    padding-left: 30px;
    padding-right: 30px;
    padding-top:30px;
    padding-bottom:30px;
    opacity: .8;
    top: 500px;
    font: 40px 'san-serif';
    text-align: justify;
   
}



