
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h4>Welcome to the Member Database</h4>
    <div> 
        @Html.ActionLink("Add a Member", "Add", "Home" ); &nbsp;
        @Html.ActionLink("Show All Members", "ShowAll", "Home")
    </div>
</body>
</html>
