
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Start Bootstrap Carousel HEAD section -->
<link rel="stylesheet" type="text/css" href="engine1/style.css" />


<div id="Som2">
    <img src="~/Content/Images/Som2.jpg" />
</div>

<div id="Som3">
    <img id="Grapes" src="~/Content/Images/Grapes.jpg" />
</div>

<div id="Container1">
    <p>
        <h1>About Us</h1>
        Here at Muscat wines, we pride ourselves on bringing you the bestquality wines from award winning vinyards around the world.<br /><br />We have been sourcing wines for 10 years, but our team of expert of sommelier have been in the business for over 40 years, and have travelled the globe to find the best wines to bring directly to your door.
    </p>
</div>
<main>

   


</main>